@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* { padding: 0; margin: 0; }
body {
    z-index: -2;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 0;
    bottom: 0;
    margin: 0;
     overflow: hidden;
    }

li { list-style: none; }
a { text-decoration: none; }
img { border: 0; }

#main_menu {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    background: url("start_background2.jpg") no-repeat center center fixed;
    background-size: cover;
}

#main_menu::before {
    z-index: -1;
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background:
    linear-gradient(to right, #10191f 0%, rgba(16,25,31, 0.4) 25%, rgba(16, 25, 31, 0.274) 35%, rgba(128, 124, 124, 0.527) 50%, rgba(16, 25, 31, 0.274) 65% ,rgba(16,25,31, 0.4)75%,#10191f 100%);
}


#exit_img{
    height: 30px;
    margin-top: 11px;
    margin-right: 25px;
    float: right;  
 }

 #return_img{
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
 }

 .button_animate_1{
    background-color: #FFFDF7;
    box-shadow: 0 0 0 1px #FFFDF7 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 6px 0 0 #eaf3f891,
        0 6px 0 1px rgba(0,0,0,.4),
        0 6px 6px 1px rgba(0,0,0,0.5);
    
    width: 80px;
    height: 40px;
    font-size: 1.5em;
    color: #10191f;
    text-align: center;
    margin: 40px 20px;
    border: none;
    border-radius: 10px;
 }
 .button_animate_1:hover{
    font-weight: bolder;
 }
 .button_animate_1:active{
    box-shadow: 0 0 0 1px #FFFDF7 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset;
  
 }
/* 메인 메뉴 */

 #main_page{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Staatliches', cursive;
    /* font-family: 'HSSanTokki20-Regular', sans-serif; */
 }
#menu_box{
    margin-top: 250px;
    margin-bottom: 50px;
}

#menu_box>div{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    line-height: 100px;
    font-weight: bold;
    color: #FFFDF7;
    letter-spacing:10px;
 }

 #menu_box>div:hover{
    /* font-size: 60px;
    letter-spacing: 25px;
    text-shadow: 0px 0px 15px #dfcff5;
    line-height: 80px; */
   
    line-height: 100px;
    letter-spacing: 20px;
    font-size: 4em;
    /* text-align: center; */
    color: #F1C164;
    text-shadow: 5px 5px #2D63A7;
    /* margin: 0; */
 }
 #menu_prompt{
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 0px 2px #FFFDF7;
    color: transparent;
    opacity: 0.7;
    letter-spacing: 20px;
 }

 #menu_prompt>span {
    position: relative;
    top: 4px;
    display: inline-block;
    animation: bounce 0.8s ease-in-out infinite alternate;
    font-size: 50px;
    color: #fffdf770
  }

  #menu_prompt>span:nth-child(2) { animation-delay: .1s; }
  #menu_prompt>span:nth-child(3) { animation-delay: .2s; }
  #menu_prompt>span:nth-child(4) { animation-delay: .3s; }
  #menu_prompt>span:nth-child(5) { animation-delay: .4s; }
  #menu_prompt>span:nth-child(6) { animation-delay: .5s; }
  #menu_prompt>span:nth-child(7) { animation-delay: .6s; }
  #menu_prompt>span:nth-child(8) { animation-delay: .7s; }
  #menu_prompt>span:nth-child(9) { animation-delay: .8s; }
  #menu_prompt>span:nth-child(10) { animation-delay: .9s; }
  #menu_prompt>span:nth-child(11) { animation-delay: 1.0s; }
  #menu_prompt>span:nth-child(12) { animation-delay: 1.1s; }
  #menu_prompt>span:nth-child(13) { animation-delay: 1.2s; }
  #menu_prompt>span:nth-child(14) { animation-delay: 1.3s; }
  #menu_prompt>span:nth-child(15) { animation-delay: 1.4s; }
  #menu_prompt>span:nth-child(16) { animation-delay: 1.5s; }
  #menu_prompt>span:nth-child(17) { animation-delay: 1.6s; }
  #menu_prompt>span:nth-child(18) { animation-delay: 1.7s; }
  #menu_prompt>span:nth-child(19) { animation-delay: 1.8s; }
  #menu_prompt>span:nth-child(20) { animation-delay: 1.9s; }
  #menu_prompt>span:nth-child(21) { animation-delay: 2.0s; }
  #menu_prompt>span:nth-child(22) { animation-delay: 2.1s; }
  #menu_prompt>span:nth-child(23) { animation-delay: 2.2s; }
  #menu_prompt>span:nth-child(24) { animation-delay: 2.3s; }
  #menu_prompt>span:nth-child(25) { animation-delay: 2.4s; }
  #menu_prompt>span:nth-child(26) { animation-delay: 2.5s; }




  @keyframes bounce {
    100% {
      top: -4px;
    }
  } 

  #main_menu_audio{
    opacity: 0.1;
}

/* 스토리 진행 창 */

#storyboard{
    display: none;
    width: 800px;
    /* height: 800px; */
    margin: 5% auto;
}

.contentbox{
    overflow: hidden;
    width: 100%;
    height: 700px;
    border-radius:  0 0 25px 25px;
    background-color: #FFFDF7;
    opacity: 0.95;
}

.exitbar{
    overflow: hidden;
    height: 50px;
    border-radius: 25px 25px 0 0;
    background-color:#e9e7e3;
}

.storybox {
    display: none;
    /* display: flex; */
    align-items: center;
    padding: 10px 0;
    margin: 5px 0;
}


.storybox>img {
    margin: 0 15px;
    height: 60px;
    width: 70px;
}

.storybox>.narbox {
    display: inline-block;
    max-width: calc(100% - 70px);
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: rgba(233,231,227,0.8);
    white-space: nowrap; 
    overflow: hidden;

}

/* customize */

#customize_page{
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #10191f 0%, rgba(16,25,31, 0.4) 35% , rgba(16,25,31, 0.4)65%,#10191f 100%);
}

.nav{
    overflow: hidden;
    height: 90px;
}



.content{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
}

#previewbox{
    position: relative;
    /* display: inline-block; */
    float: left;
    margin-left: 15%;
    width: 300px;
    height: 600px;
    background-color:#eaf3f8af;
    box-shadow: 8px 3px 0px 5px#4c545a96;
}


#configbox{
    position: relative;
    /* display: inline-block; */
    float: right;
    margin-top: 50px;
    margin-right: 15%;
    width: 600px;
    height: 500px;
    background-color:#eaf3f8af;
    box-shadow: 8px 3px 0px 5px#4c545a96;
    overflow: scroll;
}

#prev{
    position: absolute;
    bottom: -10px;
    left: 100px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color:  #eaf3f8af;
    box-shadow: 8px 3px 0px 5px#4c545a96;
    text-align: center;
}

.custom-radio {
    display: inline-block;
    position: relative;
    width: 100px;
    margin: 30px 50px 0 0;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    letter-spacing: 2px;
    text-align: center;
}
.custom-radio:hover{
    color: #464f55;
    font-weight: bold;
}

.custom-radio input {
    display: none;
}

.custom-radio span {
    position: relative;

}

.custom-radio input:checked + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    /* background-color: #4CAF50; */
    border-radius: 5px;
}


.custom-radio span:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 4px;
    width: 8px;
    height: 15px;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
}


.custom-radio input:checked + span:after {
    display: block;
}

#settingsMenu{
    width: 520px;
    padding: 0 61px;

}

#settingsMenu>h1{
    width: 450px;
    margin-top: 40px;
    text-shadow: 5px 5px 0px #ffffff;
    box-shadow: inset 0 -0.5em 0 0 #eaf3f8dc;
}

#settingsMenu>input[type="range"]{
     margin: 50px 45px 20px 45px;
}

/* challenge_page */

#challenge_page{
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #10191f 0%, rgba(16,25,31, 0.4) 35% , rgba(16,25,31, 0.4)65%,#10191f 100%);
}

#my_box{
    position: relative;
    display: inline-block;
    width: 400px;
    height: 500px;
    margin-top: 100px;
    margin-left: 10%;
}

#assignment_box{
    overflow: scroll;
    display: block;
    width: 35%;
    height: 400px;
    margin-top: 100px;
    background-color: #eaf3f8af;
}

.assignment{
    font-size: 1.5em;
    margin: 2em 1em;
}

#chara_box{
    position: relative;
    background-color: #ffffff;
    width: 40%;
    opacity: 0.8;
    
}
#chara_box>img{
    width: 80%;
    margin: 10% 10%;
    padding: 5% 0;
    
   
}

#name{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -70px;
    margin: 5% 0;
    line-height: 50px;
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 0px 0px 2px #ffffff;
    color: transparent;
    text-align: center;
}

#play_box{
    position: absolute;
    bottom: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
}

/*초기 페이지 원래 block임*/
#result_page {
    display: none;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    background: url("score_background.png"), #e7e6d5 no-repeat center center fixed;
    background-size: cover;
}

.result_box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 50px;
}

#round_cover {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid black;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}


#round_cover:before,
#round_cover:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
  }


#round_cover>p {
    line-height: 2em;
}
#fail_box {
    display: none;
}

#score_box {
    display: flex;
    width: 400px;
    height: 1.5em; 
    margin:  0.4em 0;
    font-size: 2em;
    overflow: hidden;
    z-index: 0;
    justify-content: center;

    
}

.digit {
    display: inline-block;
    width: 1em; 
    height: 2em; 
    position: relative;
    overflow: hidden;
}

.digit span {
    display: block;
    position: absolute;
    width: 100%;
}
@keyframes slotSpin {
    0% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-60%);
    }
}

@keyframes slowStop {
    0% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-49.7%);
    }
}


.digit.stopping span {
    animation: slowStop 1s ease forwards;
}

#ball_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#back_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#music_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#over_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#music_volume_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#over_volume_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#return_img:hover{
    cursor: pointer;
}
#save_button:hover{
    cursor: pointer;
}
#cancel_button:hover{
    cursor: pointer;
}