@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{padding: 0; margin: 0; font-family: 'HSSanTokki20-Regular', sans-serif;}



body {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    background: url("start_background2.jpg") no-repeat center center fixed;
    background-size: cover;
}

body::before {
    z-index: -1;
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background:
    linear-gradient(to right, #10191f 0%, rgba(16,25,31, 0.4) 25%, rgba(16, 25, 31, 0.274) 35%, rgba(128, 124, 124, 0.527) 50%, rgba(16, 25, 31, 0.274) 65% ,rgba(16,25,31, 0.4)75%,#10191f 100%);
}


#exit_img{
    height: 30px;
    margin-top: 11px;
    margin-right: 25px;
    float: right;  
 }

 #return_img{
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
 }


/* 메인 메뉴 */

 #main{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
 }
#menu_box{
    margin-top: 250px;
    margin-bottom: 50px;
}

 #menu_box>div{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    font-weight: bold;
    color: #FFFDF7;
    letter-spacing:10px;
 }

 #menu_box>div:hover{
    font-size: 60px;
    letter-spacing: 25px;
    text-shadow: 0px 0px 15px #dfcff5;
    /* line-height: 80px; */
 }
 #main>div:last-child{
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 0px 2px #FFFDF7;
    color: transparent;
    opacity: 0.7;
    letter-spacing: 20px;
 }


/* 스토리 진행 창 */

#storyboard{
    display: none;
    width: 800px;
    /* height: 800px; */
    margin: 5% auto;
}

.contentbox{
    overflow: hidden;
    width: 100%;
    height: 700px;
    border-radius:  0 0 25px 25px;
    background-color: #FFFDF7;
    opacity: 0.95;
}

.exitbar{
    overflow: hidden;
    height: 50px;
    border-radius: 25px 25px 0 0;
    background-color:#e9e7e3;
}

.storybox {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 5px 0;
}

.storybox>img {
    margin: 0 15px;
    height: 60px;
    width: 70px;
}

.storybox>.narbox {
    display: inline-block;
    max-width: calc(100% - 70px);
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: rgba(233,231,227,0.8);
    white-space: nowrap; 
    overflow: hidden;

}

/* customize */

#customize_page{
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #10191f 0%, rgba(16,25,31, 0.4) 35% , rgba(16,25,31, 0.4)65%,#10191f 100%);
}

.nav{
    overflow: hidden;
    height: 90px;
}



.content{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
}

#previewbox{
    position: relative;
    /* display: inline-block; */
    float: left;
    margin-left: 15%;
    width: 300px;
    height: 600px;
    background-color:#eaf3f8af;
    box-shadow: 8px 3px 0px 5px#4c545a96;
}


#configbox{
    position: relative;
    /* display: inline-block; */
    float: right;
    margin-top: 100px;
    margin-right: 15%;
    width: 600px;
    height: 500px;
    background-color:#eaf3f8af;
    box-shadow: 8px 3px 0px 5px#4c545a96;
}

#prev{
    position: absolute;
    bottom: -10px;
    left: 100px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color:  #eaf3f8af;
    box-shadow: 8px 3px 0px 5px#4c545a96;
    text-align: center;
}

#config{
    position: absolute;
    top: -10px;
    left: 100px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    margin: auto;
    box-shadow: 8px 3px 0px 5px#4c545a96;
    background-color:   #eaf3f8af;
}



/* challenge_page */

#challenge_page{
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #10191f 0%, rgba(16,25,31, 0.4) 35% , rgba(16,25,31, 0.4)65%,#10191f 100%);
}

#my_box{
    position: relative;
    display: inline-block;
    width: 400px;
    height: 500px;
    margin-top: 100px;
    margin-left: 10%;
}

#assignment_box{
    overflow: scroll;
    display: block;
    width: 35%;
    height: 400px;
    margin-top: 100px;
    background-color: #eaf3f8af;
}

.assignment{
    font-size: 1.5em;
    margin: 2em 1em;
}

#chara_box{
    position: relative;
    background-color: #ffffff;
    width: 40%;
    opacity: 0.8;
    
}
#chara_box>img{
    width: 80%;
    margin: 10% 10%;
    padding: 5% 0;
    
   
}

#name{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -70px;
    margin: 5% 0;
    line-height: 50px;
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 0px 0px 2px #ffffff;
    color: transparent;
    text-align: center;
}

#play_box{
    position: absolute;
    bottom: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
}

/*초기 페이지 원래 block임*/
#result_page {
    display: none;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    background: url("score_background.png"), #e7e6d5 no-repeat center center fixed;
    background-size: cover;
}

.result_box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 50px;
}

#round_cover {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid black;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}


#round_cover:before,
#round_cover:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
  }


#round_cover>p {
    line-height: 2em;
}
#fail_box {
    display: none;
}

#score_box {
    display: flex;
    width: 400px;
    height: 1.5em; 
    margin:  0.4em 0;
    font-size: 2em;
    overflow: hidden;
    z-index: 0;
    justify-content: center;

    
}

.digit {
    display: inline-block;
    width: 1em; 
    height: 2em; 
    position: relative;
    overflow: hidden;
}

.digit span {
    display: block;
    position: absolute;
    width: 100%;
}
@keyframes slotSpin {
    0% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-60%);
    }
}

@keyframes slowStop {
    0% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-49.7%);
    }
}


.digit.stopping span {
    animation: slowStop 1s ease forwards;
}
#settingsMenu{
    width:300px;
    padding:20px;
    border-radius: 10px;
    margin: 50px auto;
}
#ball_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#back_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#music_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#over_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#music_volume_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#over_volume_label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#h